<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL types</key>
	<array>
		<dict>
			<key>URL Schemes</key>
			<string></string>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>Fresh</string>
	<key>FacebookAppID</key>
	<string>1428004914162956
1428004914162956
1428004914162956</string>
</dict>
</plist>
